version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: my_next_job_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: my_next_job
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

volumes:
  pg_data: